<!DOCTYPE html>
<html>
	<head>
		<title>Performance budget</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="./main.css">
	</head>

	<body>

		<section class="performance-budget-graph section clearfix">
			{{#each fileTypes}}
				<div class="performance-budget-graph__bar" style="width:{{percentage}}%;"></div>
			{{/each}}
		</section>

		<section class="performance-budget-key section">

			<ul class="performance-budget-key__list clearfix">
				{{#each fileTypes}}
					<li class="performance-budget-key__item">
						<p>{{@key}}</p>
						<p>{{percentage}}%</p>
						<p>{{total}} bytes</p>
					</li>
				{{/each}}
			</ul>

		</section>

		<nav class="performance-budget-nav section">

			<ul class="performance-budget-nav__list">
				{{#each fileTypes}}
					<div class="performance-budget-nav__swatch"></div>
				{{/each}}
			</ul>

			<ul class="performance-budget-nav__list">
				{{#each fileTypes}}
					<li class="performance-budget-nav__list__item">
						<a class="performance-budget-nav__link" href="#" data-nav-item="{{@key}}">{{@key}}</a>
					</li>
				{{/each}}
			</ul>
		</nav>

		<section class="performance-budget-details section">
			{{#each fileTypes}}
				<div class="performance-budget-details__item" data-details="{{@key}}">
					<div class="performance-budget-details__bar" style="width:{{percentage}}%;"></div>
					<div class="performance-budget-details__container">
						<div class="performance-budget-details__stats">
							<div class="performance-budget-details__stats__item">
								<p class="performance-budget-details__stats__text">{{percentage}}%</p>
							</div>
							<div class="performance-budget-details__stats__item">
								<p class="performance-budget-details__stats__text">{{total}} bytes</p>
							</div>
						</div>
						<ul class="performance-budget-details__file-list">
							<li class="performance-budget-details__file">
								<p class="performance-budget-details__file-path">File Name</p>
								<p class="performance-budget-details__file-size">File Size in bytes</p>
							</li>
							{{#each files}}
								<li class="performance-budget-details__file">
									<p class="performance-budget-details__file-path">{{file}}</p>
									<p class="performance-budget-details__file-size">{{size}} bytes</p>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			{{/each}}
		</section>

	</body>

	<script>

		var navItem = document.querySelectorAll('[data-nav-item]');
		var details = document.querySelectorAll('[data-details]');

		var IS_HIDDEN = 'is-hidden';
		var NAV_ITEM_IS_ACTIVE = 'performance-budget-nav__list__item--active';

		navItem[0].className += ' ' + NAV_ITEM_IS_ACTIVE;

		for (var index = 0; index < navItem.length; index ++) {
			hideDetails(index);
			handleClick(index);
		}

		function handleClick (index) {
			navItem[index].onclick = function () {

				for (var i = 0; i < details.length; i ++) {
					details[i].className += ' ' + IS_HIDDEN;
					navItem[i].classList.remove(NAV_ITEM_IS_ACTIVE);
				}

				details[index].classList.remove(IS_HIDDEN);
				navItem[index].className += ' ' + NAV_ITEM_IS_ACTIVE;
			}
		}

		function hideDetails (index) {
			if(index !== 0) {
				details[index].className += ' ' + IS_HIDDEN;
			}
		}

	</script>

</html>
